.question-content{
    text-align: center;
}

.total-vote{
    text-align: center;
}

.result-container{
    display:flex;
    justify-content: space-around;
}

.button-container{
    text-align: center;
}