.question-content {
    text-align: center;
}

.vote-buttons-container {
    display: flex;
    justify-content: space-around;
}
.result-button-container{
    display:flex; 
    justify-content: center;
}