<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quick Answer</title>
</head>

<body>
    <h1>Add a question</h1>
    <!-- http://localhost:1234/add-question -->
    <form action="/add-question" method="POST">
        <textarea name="input" id="" cols="30" rows="10" maxlength="200"></textarea>
        <p>Characters left: 200/200</p>
        <button type="submit"> Send </button>
    </form>



</body>

</html>