<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quick Answer</title>
</head>

<body>
    <h1> </h1>
    <button class="vote-button" yes="1" no="0" >YES</button>
    <button class="vote-button" yes="0" no="1" >NO</button>
    <a><button>Vote Result</button></a>
    <div class="notification"><div>


            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
            <script src="/js/answer.js"></script>

</body>

</html>